// Specific CSS for your home-page
.background-index {
  background-image: url("https://images.unsplash.com/photo-1454944338482-a69bb95894af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80");
  background-size: cover;
}

.card-list {
  height: 250px;
  object-fit: cover;
}
